.box--goondetails {
  width: stretch;
}
.box--goondetails > .content {
  display: flex;
  flex-flow: column nowrap;

  & > :first-child {
    margin-top: 0;
  }

  & .choice {
    display: block;
    margin-bottom: var(--gap-size);

    & > span {
      display: inline-block;
      font: bold 9px var(--font-label);
      text-transform: uppercase;

      &::after {
        content: ':';
      }
    }

    & label {
      display: inline-block;
      width: fit-content;
      margin: 0 0 0 3px;
      padding: 0;
      cursor: pointer;
      font: 12px var(--font-body);

      & > span {
        font-style: italic;
      }

      & input[type='radio'],
      & input[type='checkbox'] {
        display: none;

        &:checked + span {
          text-decoration: underline;
        }
      }

      &:not(:last-child)::after {
        content: ',';
      }

      &:nth-last-child(2)::after {
        content: ', or ';
      }
    }
  }

  & h1.logo {
    flex-flow: column nowrap !important;
    position: relative;
    display: block;
    margin: 0 !important;
    margin-right: var(--gap-size);
    padding: 0;

    & > span {
      display: block;
      text-align: left;
      width: stretch;
      height: fit-content;
      color: black;
    }

    & > span.logotype {
      font-size: 34px;
      line-height: 1;
    }

    & > .choice {
      display: block;
      width: stretch;
      padding: 3px 6px;
      background: black;
      color: white;
      border-radius: 2px;

      font-size: 12px;
      font-family: var(--font-body);
      line-height: 1;

      & label {
        color: white;
        text-transform: none;
      }
    }
  }
}
