.root .toggle {
  all: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0 3px;

  & input[type='checkbox'] {
    opacity: 0;
    z-index: 1;
    -moz-appearance: none;
    vertical-align: unset;
    position: relative;
    margin-left: 3px;

    &:nth-child(1) {
      margin: 0;
    }
  }

  & input[type='checkbox'].togglebox {
    flex: 0 0 auto;
    width: 9px;
    height: 9px;
    margin-right: -9px;

    & + span {
      position: relative;
      display: flex;
      justify-items: center;
      align-items: center;
      flex: 0 0 auto;
      height: fit-content;

      font: 14px var(--font-body);
      font-weight: normal;
      font-style: italic;

      &::before {
        all: unset;
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        margin-right: var(--gap-size);
        border: var(--border-primary);
        background: white;
      }
    }

    & ~ .desc {
      display: block;
      flex: none;
      width: stretch;
      font-size: 12px;
      font-style: italic;
      color: #ccc;
    }

    &:checked + span::before {
      content: '';
      background: black;
    }

    &[disabled] + span {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
