.fieldgroup {
  & label.field:not(:last-child) {
    border-bottom: var(--border-strong);
  }

  & label.field span:not(.field) {
    font-size: 12px !important;
    font-style: italic !important;
  }

  & label.field.start,
  & label.field:first-child {
    border-radius: 3px 0 0 3px;
  }

  & label.field.end,
  & label.field:last-child {
    border-radius: 0 3px 3px 0;
  }

  & label.field.start.end {
    border-radius: 3px;
  }
}
