.table {
  border: 0;

  &:not(:last-child) {
    border-bottom: var(--border-primary);
  }
}

.tableheader {
  & span:not(.view) {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
  }
}

.tablerow {
  background-color: white;
}

.box.isboxed .table > * {
  padding: 0;
}

.repcontrol {
  background: white;
}
