.box-advancement {
  position: relative;
}

.box--advancement > .content {
  display: flex;
  flex-flow: column nowrap;

  & .field {
    display: flex;
    flex-flow: row wrap;

    width: stretch;
    min-height: var(--base-size);
    margin: 0;
    padding: 0 0 0 var(--gap-size);
    border: var(--border-primary);
    border-left-width: var(--gap-size);
    border-radius: 2px;
    box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  }

  & .meter > .label {
    margin-right: auto;
  }

  & .meter,
  & .field {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  & .field > span {
    padding-top: 2px;
  }

  & input[type='text'].field {
    all: unset;
    position: absolute;
    top: 9px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: var(--base-size);
    border: var(--border-primary);
    border-radius: 1px;
    background: white;
  }

  & p {
    flex: none;
    width: stretch;
    margin: var(--gap-size) 0;
  }

  & ul {
    flex: none;
    width: stretch;
    list-style: square;
  }
}
