.equipment {
  grid-column: 1 / span 2;
  margin-right: calc(var(--gap-size) * 2);

  & .boxcontent h3 {
    margin-bottom: 0 !important;
    justify-content: center;
  }
}

.table--armor,
.table--weapons,
.table--items {
  /* Drawer */
  & .drawer {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  & .drawer .controlrow {
    display: flex;
    flex-flow: row wrap;
    width: stretch;
    padding: 0 3px;
  }

  & .drawer .buttonrow {
    display: flex;
    flex-flow: row nowrap;
    width: stretch;
    padding: 3px;

    & button {
      flex: 1;
      margin: 0 3px;
      padding: 0 6px;
      justify-content: center;
      border: var(--border-primary);
      border-radius: 3px;
    }
  }

  & .drawer textarea {
    flex: none;
    width: stretch;
    border-top: var(--border-secondary);
    border-bottom: var(--border-secondary);
  }

  & .drawer .toggle {
    flex: none;
    width: fit-content;
    padding: 0 6px;

    & > span {
      font-size: 12px;
      font-style: italic;
    }
  }

  & .drawer label.rowid {
    flex-flow: row nowrap;
    flex: none;
    width: 65px;
    margin-left: auto;
  }

  /* "Mark as header" styles */
  & input[type='hidden'][name*='header-toggle'][value='checked'] {
    & ~ * {
      background: #eee;
    }

    & ~ input[type='text']:nth-child(3) {
      border-right: 0;
    }

    & ~ input[type='text']:nth-child(n + 4) {
      display: none;
    }
  }
}

.table--armor {
  /* Fields except name and location */
  & .tableheader span:nth-child(n + 3),
  & .tablerow input:nth-child(n + 4) {
    flex: none;
    width: 30px;
    justify-content: center;
    text-align: center;
  }

  /* Location field */
  & .tableheader span:nth-child(3),
  & .tablerow input:nth-child(4) {
    flex: none;
    width: 60px;
  }

  /* Last field */
  & .tablerow input:nth-child(6) {
    border-right: 0;
  }

  & .drawer textarea {
    border-top: 0;
  }
}

.table--weapons {
  /* Fields except Name and Damage */
  & .tableheader span:nth-child(n + 3),
  & .tablerow input:nth-child(n + 4) {
    flex: none;
    width: 35px;
    justify-content: center;
    text-align: center;
  }

  /* Damage field */
  & .tableheader span:nth-child(3),
  & .tablerow input:nth-child(4) {
    flex: none;
    width: 95px;
  }

  /* Last field */
  & .tablerow input:nth-child(5) {
    border-right: 0;
  }

  & .drawer .controlrow {
    & label {
      flex: none;
      width: 40px;
      padding: 0;
      flex-flow: column nowrap;
      border: none;

      &:nth-child(2) {
        width: 65px;
        margin-right: auto;

        & select {
          padding: 0;
        }
      }

      &:nth-child(8),
      &:nth-child(11) {
        flex-flow: row wrap;
        justify-content: center;
        width: 45px;

        & > :first-child {
          flex: none;
          width: stretch;
        }
        & > input {
          flex: none;
          width: 20px;
        }

        & > span.sep {
          flex: none;
          width: fit-content;
        }
      }
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: stretch;
      font-size: 12px;
      font-style: italic;
    }

    & input[type='text'] {
      flex: none;
      width: stretch;
      padding: 0;
      text-align: center;
    }
  }

  & .drawer .buttonrow {
    flex-flow: row wrap;

    & button[type='action'] {
      flex: none;
      width: stretch;
    }
  }
  /* & input[type='hidden'][name*='weapon-equipped'] {
      & + button {
        & span::before {
          content: 'Equip';
          display: inline-block;
          padding-right: 3px;
        }
      }

      &[value='equipped'] ~ button[type='action'] {
        background-color: #eee;

        & span::before {
          content: 'Unequip';
        }
      }

      &:not([value='equipped']) ~ button[type='roll'] {
        display: none;
      }
    }
  } */

  & input[type='hidden'][name*='weapon-equipped'] {
    &:not([value='equipped']) ~ .buttonrow {
      display: none;
    }
  }

  /* Weapon Type toggle */
  & input[type='hidden'][name*='weapon-type'] {
    & ~ label:not(:nth-child(2)) {
      display: none;
    }
    &[value='melee' i] ~ label:nth-child(3),
    &[value='melee' i] ~ label:nth-child(4),
    &[value='melee' i] ~ label:nth-child(5),
    &[value='melee' i] ~ label:nth-child(6) {
      display: flex;
    }

    &[value='thrown' i] ~ label:nth-child(7),
    &[value='thrown' i] ~ label:nth-child(8) {
      display: flex;
    }

    &[value='ranged' i] ~ label:nth-child(9),
    &[value='ranged' i] ~ label:nth-child(10),
    &[value='ranged' i] ~ label:nth-child(11) {
      display: flex;
    }

    &[value='shield' i] ~ label:nth-child(12),
    &[value='shield' i] ~ label:nth-child(13) {
      display: flex;
    }
  }
}

.table--items {
  /* Fields except name and location */
  & .tableheader span:nth-child(n + 3),
  & .tablerow input:nth-child(n + 4) {
    flex: none;
    width: 35px;
    justify-content: center;
    text-align: center;
  }

  /* Last field */
  & .tablerow input:nth-child(5) {
    border-right: 0;
  }

  & .drawer textarea {
    border-top: 0;
  }
}

.table--combatload {
  & .tableheader span,
  & .tablerow input {
    text-align: center;
  }

  & .tableheader span {
    line-height: 1;
    align-items: center;
    justify-content: center;
  }
}
