.box--status {
  position: relative;

  & .content > .meter {
    position: absolute;
    top: 0;
    right: var(--gap-size);
  }
}
.box--status > .content {
  & h3 {
    margin: 0;
    margin-top: var(--gap-size);
    width: stretch;
    font-size: 18px;

    & > span {
      margin-left: auto;
      color: #ccc;
      font: 9px var(--font-label);
      text-transform: uppercase;
    }
  }
}
