.menu {
  grid-column-start: 2;
  position: absolute;
  right: 0;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;

  width: var(--base-size);
  height: stretch;
  background: white;

  & .toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: var(--gap-size);
  }

  & .toggle input[type='checkbox'] + span {
    /* Hide the text. */
    font: 0/0 a;
    text-shadow: none;
    color: rgba(0, 0, 0, 0);

    &::before {
      all: unset;
      content: none;
    }

    &::after {
      all: unset;
      content: '6';
      font: 16px / 1 pictos;
      color: black;

      display: inline-block;
      margin-top: -2px;
      margin-left: var(--gap-size);
    }
  }

  & .toggle:hover input[type='checkbox'] + span {
    color: firebrick !important;
    cursor: pointer;
  }

  &:hover {
    width: 100px;
    box-shadow: -15px 0 20px -30px rgba(0, 0, 0, 0.7);
    transition: width 500ms ease;

    & .toggle input[type='checkbox'] + span {
      font: 14px / 1 var(--font-heading);
      color: black;
      transition: color 500ms ease;

      &::after {
        color: inherit;
      }
    }
  }

  & .toggle input[type='checkbox'][name*='settings'] + span::after {
    content: 'y';
  }

  & .toggle input[type='checkbox'][name*='rules'] + span::after {
    content: 'i';
  }
}
