.box--talents > .content {
  display: flex;
  flex-flow: column nowrap;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }

  & .table--talents {
    /* margin-top: var(--gap-size); */
    width: stretch;
    /* border-top: var(--border-secondary); */

    & .tableheader span:nth-child(3) {
      flex: none;
      justify-content: center;
      width: 60px;
    }

    & .tablerow {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;

      & > .toggle {
        height: var(--base-size);
        margin-top: -2px;
      }

      & > .talent {
        flex: 1;
        width: stretch;
        border-right: 0;

        & .label {
          padding-right: var(--gap-size);
          font: bold 9px var(--font-label);
          text-transform: uppercase;

          &::after {
            content: ':';
          }
        }

        & .text {
          width: fit-content;
          padding: 0;
          font: 12px var(--font-body);
          font-style: italic;
        }

        & > .toggle {
          display: inline-flex;
          opacity: 0;
          width: 14px;
          height: 14px;

          & .togglebox + span::before {
            content: 'p';
            font: 12px 'pictos';
            line-height: 9px;
            border: none;
          }

          & .togglebox:checked + span::before {
            background: transparent;
            color: firebrick;
          }
        }

        &:hover .toggle {
          opacity: 1;
        }
      }

      & .drawer {
        position: relative;
        flex-flow: column nowrap;
        width: stretch;
        margin-top: var(--gap-size);
        padding: var(--gap-size);
        border: 1px dashed #ccc;
        border-radius: 5px;

        & input[type='text'] {
          border-bottom: var(--border-primary);
        }

        & .toggle {
          position: absolute;
          top: var(--gap-size);
          right: 0;

          & .togglebox + span::before {
            content: ')';
            font: 12px 'pictos';
            line-height: 9px;
            text-align: center;
            border: none;
          }

          & .togglebox:hover + span::before {
            content: '(';
            background: transparent;
            color: firebrick;
          }
        }
      }
    }
  }
}
