.mode--character {
  flex-flow: row wrap;
  min-width: 830px;

  & > h1 {
    flex: none;
    width: 100%;
    margin-bottom: var(--field-height);
  }
}

/* Hide when not in 'character' mode */
input[type='hidden'][name*='sheet_mode']:not([value='character'])
  ~ .mode--character {
  display: none;
}

/* Attributes Column
 */
.sec--stats {
  flex: none;
  width: stretch;
  max-width: 150px;
  margin-right: calc(var(--gap-size) * 3);
}

/* Details Column
 */
.sec--details {
  flex: 2;
  margin-right: calc(var(--gap-size) * 3);

  & .box.noshade {
    background: white;
  }

  & .details textarea {
    min-height: 93px;
  }
}

/* Combat Column
 */
.sec--combat {
  flex: 3;

  & .moves {
    display: grid;
    grid: auto-flow auto / 1fr 1fr 1fr;
    column-gap: var(--gap-size);
    justify-items: stretch;
    align-items: start;
    width: stretch;
  }
}
