.pools {
  & .boxcontent h3::after {
    content: ':';
  }

  & .resources {
    display: flex;
    flex-flow: row nowrap;
    width: stretch;

    & .fieldgroup {
      flex: 1;
      margin-right: var(--gap-size);
    }

    & .fieldgroup:last-child {
      margin-right: 0;
    }
  }
}
