.table--skills {
  /* Fields except name */
  & .tableheader span:nth-child(n + 3),
  & .tablerow input:nth-child(n + 4) {
    flex: none;
    width: 35px;
    justify-content: center;
    text-align: center;
  }

  & .tablerow input:nth-child(7) {
    border-right: none;
  }

  /* Roll Button */
  & .tableheader span:last-child {
    flex: none;
    width: 55px;
  }
  & .tablerow > button {
    flex: none;
    width: 20px;
  }

  /* Drawer */
  & .drawer {
    flex-flow: row wrap;
    border-bottom: var(--border-primary);
  }

  & .drawer textarea {
    flex: none;
    width: stretch;
    border-bottom: var(--border-secondary);
  }

  & .drawer .toggle {
    flex: 1;
    width: 0;
    padding: 0 6px;

    & > span {
      font-size: 12px;
      font-style: italic;
    }
  }

  & .drawer label.rowid {
    flex-flow: row nowrap;
    flex: none;
    width: 65px;
  }

  /* "Mark as skillset" styles */
  & input[type='hidden'][name*='skillset-toggle'][value='checked'] {
    & ~ * {
      background: #eee;
    }
  }
}
