.group {
  display: grid;
  grid-template-columns: 14px 1fr;
  grid-column-gap: 3px;

  align-self: stretch;

  & > .label {
    display: flex;
  }

  & > .label span {
    font: 16px / 1 var(--font-label);
    text-align: center;
    text-transform: uppercase;

    transform: rotate(-90deg);
    justify-self: center;
  }

  & > .content {
    padding-left: var(--gap-size);
    border-left: var(--border-primary);
  }
}
