.box--role > .content {
  display: flex;
  flex-flow: column nowrap;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }

  /* & p {
    & em {
      margin: 0 3px;
    }
  } */

  & .text {
    width: fit-content;
    padding: 0;
    font: 12px var(--font-body);
    font-style: italic;
  }

  & .aspect {
    position: relative;
    flex: 1;
    width: stretch;
    margin-left: 20px;
    border-right: 0;

    & .label {
      padding-right: var(--gap-size);
      font: bold 9px var(--font-label);
      text-transform: uppercase;

      &::after {
        content: ':';
      }
    }

    & .text {
      width: fit-content;
      padding: 0;
      font: 12px var(--font-body);
      font-style: italic;
    }

    & > .toggle {
      position: absolute;
      top: 6px;
      left: -20px;
    }

    &:hover .toggle {
      opacity: 1;
    }
  }
}

/* Hide when not in 'character' mode */
input[type='hidden'][name*='sheet_playbook']:not([value='bear']) ~ .role--bear,
input[type='hidden'][name*='sheet_playbook']:not([value='hawk']) ~ .role--hawk,
input[type='hidden'][name*='sheet_playbook']:not([value='wolf']) ~ .role--wolf,
input[type='hidden'][name*='sheet_playbook']:not([value='spider'])
  ~ .role--spider {
  display: none;
}
