.box--skills > .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }

  & .skill {
    all: unset;
    display: flex;
    flex-flow: row nowrap;
    flex: none;
    width: stretch;

    padding: 3px 0;

    border-bottom: var(--border-light);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    & button[type='roll'] {
      flex: none;
      width: fit-content;
      height: 20px;
      margin-right: auto;

      & > span {
        margin: 0;

        font-family: var(--font-label);
        font-size: 12px;
        text-transform: uppercase;
      }

      &::after {
        content: none;
      }
    }

    & .meter {
      flex: none;
      width: fit-content;
      height: 20px !important;
      margin: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }
  }
}
